@import '../scss/theme/variables.scss';

$shimmer-transition-from: $gray-200 !default;
$shimmer-transition-to: $gray-400 !default;

@keyframes aptoShimmerAnimation {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

.AptoShimmer {
    animation: aptoShimmerAnimation 2s linear infinite;
    animation-fill-mode: forwards;
    background: $shimmer-transition-from;
    background: linear-gradient(to right, $shimmer-transition-from 8%, $shimmer-transition-to 18%, $shimmer-transition-from 33%);
    background-size: map-get($grid-breakpoints, lg) 100%;
    display: inline-block;
    position: relative;
    min-height: 1.6rem;
    padding: 0;
    min-width: 1.6rem;
    vertical-align: middle;
}
