@import '../../scss/theme/variables.scss';

$labelFontFamily:       $font-family-base;
$labelColor:            $gray-650;
$labelFontSize:         $font-size-md;
$fieldFocusColor:       $blue-500;


.AptoFormControl-label {
  color: $labelColor;
  font-size: $labelFontSize;
  font-family: $labelFontFamily;
  position: absolute;
  top: 0;
  left: 0;
}

input:focus ~ .AptoFormControl-label,
textarea:focus ~ .AptoFormControl-label,
select:focus ~ .AptoFormControl-label {
  color: $fieldFocusColor;
}
