@import '../../scss/mixins/_grid.scss';

.AptoRow {
    @include make-apto-row();
    &.AptoRow--noGutter {
        margin-right: 0;
        margin-left: 0;
        > .AptoCol,
        > [class*="AptoCol-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
