@import '../../scss/mixins/_grid.scss';

.AptoRow {
    @include make-apto-row();
    &.AptoRow--noGutter {
        margin-right: 0;
        margin-left: 0;
        > .AptoCol,
        > [class*="AptoCol-"] {
            padding-right: 0;
            padding-left: 0;
        }
    }
    &.AptoRow--align-start {
        align-items: flex-start;
    }
    &.AptoRow--align-center {
        align-items: center;
    }
    &.AptoRow--align-end {
        align-items: flex-end;
    }
    &.AptoRow--justify-start {
        justify-content: flex-start;
    }
    &.AptoRow--justify-center {
        justify-content: center;
    }
    &.AptoRow--justify-end {
        justify-content: flex-end;
    }
    &.AptoRow--justify-around {
        justify-content: space-around;
    }
    &.AptoRow--justify-between {
        justify-content: space-between;
    }
}
