@import '../../scss/theme/variables.scss';

$button-font-family: $font-family-base !default;
$button-font-size: 1.4rem !default; // 14px
$button-font-weight: $font-weight-base !default;
$button-padding: 0.7rem 2rem !default;
$button-border-radius: 3px !default;

$button-primary-color: $white !default;
$button-primary-bg: $blue-500 !default;
$button-primary-disabled-bg: $gray-400 !default;
$button-primary-hover-color: darken($button-primary-bg, 15%) !default;

$button-primaryInverse-color: $blue-500 !default;
$button-primaryInverse-bg: $white !default;
$button-primaryInverse-disabled-color: lighten(
  $button-primaryInverse-color,
  15%
) !default;
$button-primaryInverse-hover-color: darken(
  $button-primaryInverse-color,
  15%
) !default;

$button-primary-link-color: $blue-500 !default;
$button-primary-link-hover-color: darken(
  $button-primary-link-color,
  15%
) !default;
$button-primary-link-disabled-color: lighten(
  $button-primary-link-color,
  15%
) !default;

$button-secondary-link-color: $gray-500 !default;
$button-secondary-link-hover-color: darken($blue-500, 15%) !default;
$button-secondary-link-disabled-color: lighten(
  $button-secondary-link-color,
  15%
) !default;

$button-secondaryDark-link-color: $gray-650 !default;
$button-secondaryDark-link-hover-color: darken($blue-500, 15%) !default;
$button-secondaryDark-link-disabled-color: lighten(
  $button-secondaryDark-link-color,
  15%
) !default;

$button-danger-link-color: $red-500 !default;
$button-danger-link-hover-color: darken($red-500, 15%) !default;
$button-danger-link-disabled-color: lighten(
  $button-danger-link-color,
  15%
) !default;

$button-danger-color: $white !default;
$button-danger-backgroundColor: $red-500 !default;
$button-danger-hover-backgroundColor: darken(
  $button-danger-backgroundColor,
  15%
) !default;
$button-danger-disabled-backgroundColor: lighten(
  $button-danger-backgroundColor,
  15%
) !default;

$button-white-color: $white !default;
$button-white-backgroundColor: transparent !default;
$button-white-disabled-backgroundColor: transparent;
$button-white-hover-backgroundColor: rgba(255, 255, 255, 0.2);

$button-white-link-color: $white !default;
$button-white-link-hover-color: darken($button-white-color, 10%) !default;
$button-white-link-disabled-color: rgba(255, 255, 255, 0.5);

$button-holdProgressBar-backgroundColor: $red-500 !default;
$button-holdPregressContainer-backgroundColor: $gray-500 !default;
$button-holdPregressContainer-size: 3px !default;

.AptoButton {
  display: inline-block;
  margin: 0;
  background: none;
  border: none;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  border-radius: $button-border-radius;
  padding: $button-padding;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  &:disabled,
  &.AptoButton--disabled {
    cursor: not-allowed;
  }
}

.AptoButton--link {
  padding: 0;
}

.AptoButton--primary {
  color: $button-primary-color;
  background-color: $button-primary-bg;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-primary-color;
    background-color: $button-primary-hover-color;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-primary-color;
    background-color: $button-primary-disabled-bg;
  }
}

.AptoButton--primaryInverse {
  color: $button-primaryInverse-color;
  background-color: $button-primaryInverse-bg;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-primaryInverse-hover-color;
    background-color: $button-primaryInverse-bg;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-primaryInverse-disabled-color;
    background-color: $button-primaryInverse-bg;
  }
}

.AptoButton--link.AptoButton--primary {
  color: $button-primary-link-color;
  background-color: transparent;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-primary-link-hover-color;
    background-color: transparent;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-primary-link-disabled-color;
    background-color: transparent;
  }
}

.AptoButton--danger {
  color: $button-danger-color;
  background-color: $button-danger-backgroundColor;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-danger-color;
    background-color: $button-danger-hover-backgroundColor;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-danger-color;
    background-color: $button-danger-disabled-backgroundColor;
  }
}
.AptoButton--link.AptoButton--danger {
  color: $button-danger-link-color;
  background-color: transparent;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    background-color: transparent;
    color: $button-danger-link-hover-color;
  }
  &:disabled,
  &.AptoButton--disabled {
    background-color: transparent;
    color: $button-danger-link-disabled-color;
  }
}

.AptoButton--white {
  color: $button-white-color;
  background-color: $button-white-backgroundColor;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-white-color;
    background-color: $button-white-hover-backgroundColor;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-white-color;
    background-color: $button-white-disabled-backgroundColor;
  }
}
.AptoButton--link.AptoButton--white {
  color: $button-white-link-color;
  background-color: transparent;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    background-color: transparent;
    color: $button-white-link-hover-color;
  }
  &:disabled,
  &.AptoButton--disabled {
    background-color: transparent;
    color: $button-white-link-disabled-color;
  }
}

.AptoButton--link.AptoButton--secondary {
  color: $button-secondary-link-color;
  background-color: transparent;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-secondary-link-hover-color;
    background-color: transparent;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-secondary-link-disabled-color;
    background-color: transparent;
  }
}

.AptoButton--link.AptoButton--secondaryDark {
  color: $button-secondaryDark-link-color;
  background-color: transparent;
  &[aria-current='page'],
  &:hover,
  &.AptoButton--active {
    color: $button-secondaryDark-link-hover-color;
    background-color: transparent;
  }
  &:disabled,
  &.AptoButton--disabled {
    color: $button-secondaryDark-link-disabled-color;
    background-color: transparent;
  }
}

.AptoHold {
  background-color: $button-holdPregressContainer-backgroundColor;
  border-radius: $button-holdPregressContainer-size;
  height: $button-holdPregressContainer-size;
  display: block;
  visibility: hidden;
  .AptoHold-progressBar {
    background-color: $button-holdProgressBar-backgroundColor;
    border-radius: $button-holdPregressContainer-size;
    height: $button-holdPregressContainer-size;
    width: 0;
    display: block;
  }
  &.AptoHold--active {
    visibility: visible;
    .AptoHold-progressBar {
      width: 100%;
      transition: width 2s linear;
    }
  }
}
