@import '../../scss/theme/variables.scss';

$button-font-family:                    $font-family-base !default;
$button-font-size:                      1.4rem !default; // 14px
$button-font-weight:                    $font-weight-base !default;
$button-padding:                        0.7rem 2rem !default;
$button-border-radius:                  3px !default;
$button-primary-color:                  $white !default;
$button-primary-bg:                     $blue-500 !default;
$button-primary-disabled-bg:            $gray-400 !default;
$button-primary-hover-color:            darken($button-primary-bg, 15%) !default;

$button-primary-link-color:             $blue-500 !default;
$button-primary-link-hover-color:       darken($button-primary-link-color, 15%) !default;
$button-primary-link-disabled-color:    lighten($button-primary-link-color, 15%) !default;

$button-secondary-link-color:           $gray-500 !default;
$button-secondary-link-hover-color:     darken($blue-500, 15%) !default;
$button-secondary-link-disabled-color:  lighten($button-secondary-link-color, 15%) !default;

$button-secondaryDark-link-color:           $gray-650 !default;
$button-secondaryDark-link-hover-color:     darken($blue-500, 15%) !default;
$button-secondaryDark-link-disabled-color:  lighten($button-secondaryDark-link-color, 15%) !default;

$button-danger-link-color:           $red-500 !default;
$button-danger-link-hover-color:     darken($red-500, 15%) !default;
$button-danger-link-disabled-color:  lighten($button-danger-link-color, 15%) !default;

$button-danger-color:                       $white !default;
$button-danger-BackgroundColor:             $red-500 !default;
$button-danger-hover-BackgroundColor:       darken($button-danger-BackgroundColor, 15%) !default;
$button-danger-disabled-BackgroundColor:    lighten($button-danger-BackgroundColor, 15%) !default;

$button-holdProgressBar-backgroundColor: $red-500 !default;
$button-holdPregressContainer-backgroundColor: $gray-500 !default;
$button-holdPregressContainer-size: 3px !default;

.AptoButton {
    display: inline-block;
    margin: 0;
    background: none;
    border: none;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    border-radius: $button-border-radius;
    padding: $button-padding;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
    &:disabled,
    &.AptoButton--disabled {
        cursor: not-allowed;
    }
}

.AptoButton--link {
    padding: 0;
}

.AptoButton--primary {
    color: $button-primary-color;
    background-color: $button-primary-bg;
    &:hover,
    &.AptoButton--active {
        background-color: $button-primary-hover-color;
    }
    &:disabled,
    &.AptoButton--disabled {
        background-color: $button-primary-disabled-bg;
    }
}

.AptoButton--danger {
    color: $button-danger-color;
    background-color: $button-danger-BackgroundColor;
    &:hover,
    &.AptoButton--active {
        background-color: $button-danger-hover-BackgroundColor;
    }
    &:disabled,
    &.AptoButton--disabled {
        background-color: $button-danger-disabled-BackgroundColor;
    }
}

.AptoButton--link.AptoButton--primary {
    color: $button-primary-link-color;
    background-color: transparent;
    &:hover,
    &.AptoButton--active {
        color: $button-primary-link-hover-color;
    }
    &:disabled,
    &.AptoButton--disabled {
        color: $button-primary-link-disabled-color;
    }
}

.AptoButton--link.AptoButton--secondary {
    color: $button-secondary-link-color;
    background-color: transparent;
    &:hover,
    &.AptoButton--active {
        color: $button-secondary-link-hover-color;
    }
    &:disabled,
    &.AptoButton--disabled {
        color: $button-secondary-link-disabled-color;
    }
}

.AptoButton--link.AptoButton--secondaryDark {
    color: $button-secondaryDark-link-color;
    background-color: transparent;
    &:hover,
    &.AptoButton--active {
        color: $button-secondaryDark-link-hover-color;
    }
    &:disabled,
    &.AptoButton--disabled {
        color: $button-secondaryDark-link-disabled-color;
    }
}

.AptoButton--link.AptoButton--danger {
    color: $button-danger-link-color;
    background-color: transparent;
    &:hover,
    &.AptoButton--active {
        color: $button-danger-link-hover-color;
    }
    &:disabled,
    &.AptoButton--disabled {
        color: $button-danger-link-disabled-color;
    }
}

.AptoHold {
    background-color: $button-holdPregressContainer-backgroundColor;
    border-radius: $button-holdPregressContainer-size;
    height: $button-holdPregressContainer-size;
    display: block;
    visibility: hidden;
    .AptoHold-progressBar {
        background-color: $button-holdProgressBar-backgroundColor;
        border-radius: $button-holdPregressContainer-size;
        height: $button-holdPregressContainer-size;
        width: 0;
        display: block;
    }
    &.AptoHold--active {
        visibility: visible;
        .AptoHold-progressBar {
            width: 100%;
            transition: width 2s linear;
        }
    }
}