@import '../../scss/theme/variables.scss';

$fieldFontFamily:       $font-family-base;
$fieldPadding:          1.9rem 0;
$labelColor:            $gray-650;
$labelFontSize:         $font-size-md;
$errorMessageColor:     $orange-400;
$counterFontSize:       $font-size-sm;
$disabledOpactiy:       0.3;
$fieldFocusColor:       $blue-500;

.AptoFormControl {
  position: relative;
  padding: $fieldPadding;
  font-family: $fieldFontFamily;

  .AptoFormControl-label {
    color: $labelColor;
    font-size: $labelFontSize;
    position: absolute;
    top: 0;
    left: 0;
  }

  .AptoFormControl-errorMessage {
    color: $errorMessageColor;
    padding-top: 0.5rem;
    display: block;
  }

  .AptoFormControl-counterMessage {
    position: absolute;
    right: 0;
    font-size: $counterFontSize;
  }

  &.AptoFormControl--inline {
    display: inline-block;
  }

  &.AptoFormControl--disabled,
  &.AptoFormControl--readonly {
    opacity: $disabledOpactiy;
    cursor: default;
  }

  input:focus ~ .AptoFormControl-label,
  textarea:focus ~ .AptoFormControl-label,
  select:focus ~ .AptoFormControl-label {
    color: $fieldFocusColor;
  }
}