@import '../../scss/theme/variables.scss';

$textAreaPadding: 0.8rem 0;
$textAreaBorderColor: $gray-300;
$textAreaColor: $gray-800;
$textAreaPlaceholderColor: $gray-500;
$textAreaFocusBorderColor: $blue-500;
$textAreaErrorBorderColor: $orange-400;
$textAreaDisabledOpactiy: 0.7;

.ui.form textarea {
  color: $textAreaColor;
  cursor: pointer;
  padding: $textAreaPadding !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid $textAreaBorderColor;
  &::placeholder {
    color: $textAreaPlaceholderColor !important;
  }
  &:focus {
    border-bottom-color: $textAreaFocusBorderColor !important;
  }
  &[disabled] {
    opacity: $textAreaDisabledOpactiy !important;
    cursor: default;
  }
  &.disabled {
    opacity: $textAreaDisabledOpactiy !important;
    cursor: default;
  }
}
