.AptoList {
  margin: 0;
  padding: 0;
  &.AptoList--ol,
  &.AptoList--ul {
    list-style: none;
  }
  > *:last-child {
    .AptoListItem-content {
      border-bottom-color: transparent;
    }
  }
}
