@import '../../scss/theme/variables.scss';

.AptoListItem {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $white;

  .AptoListItem-content {
    padding: 1.4rem 1.6rem;
    margin: 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid $gray-450;
  }

  &.AptoListItem--icon {
    .AptoListItem-content {
      padding-left: 0;
    }
  }

  .AptoListItem-iconWrapper {
    flex: 0 0 auto;
    max-width: 100%;
    padding-right: 1.6rem;
    align-self: center;
  }

  &.AptoListItem--link {
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      border-right: 2px solid $gray-550;
      border-bottom: 2px solid $gray-550;
      width: 8px;
      height: 8px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);
    }
    .AptoListItem-content {
      padding-right: 3.6rem;
    }
  }

  &.AptoListItem--empty {
    color: $gray-500;
    .AptoListItem-content {
      padding-left: 3.6rem;
      padding-right: 3.6rem;
      border-bottom-color: transparent;
    }
  }

  &.AptoListItem--link:hover,
  &.AptoListItem--active {
    background-color: $gray-300;
  }
}
