@import '../../scss/theme/variables.scss';

.AptoListItem {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: $white;

    .AptoListItem-content {
        display: flex;
        align-items: center;
    }

    .AptoListItem-text {
        padding: 1.4rem 1.6rem;
        margin: 0;
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid $gray-450;
    }


    &.AptoListItem--link {
        cursor: pointer;
        &:after {
            content: "";
            display: inline-block;
            border-right: 2px solid $gray-550;
            border-bottom: 2px solid $gray-550;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
        }
        .AptoListItem-text {
            padding-right: 3.6rem;
        }
    }

    &.AptoListItem--link:hover,
    &.AptoListItem--active {
        background-color: $gray-300;
    }

}