@import '../scss/mixins/_grid.scss';

.AptoContainer {
    display: block;
    position: relative;
    @include make-apto-container();
    &.AptoContainer--fixed {
        @include make-apto-container-max-widths();
    }
    &.AptoContainer--scroll {
        height: 100%;
        overflow-y: auto;
    }
}
