@import '../../scss/mixins/_grid.scss';

@include make-apto-grid-columns();

.AptoCol {
  &.AptoCol--alignStart {
    align-self: flex-start;
  }
  &.AptoCol--alignCenter {
    align-self: center;
  }
  &.AptoCol--alignEnd {
    align-self: flex-end;
  }
}