@import '../../scss/mixins/_grid.scss';

@include make-apto-grid-columns();

.AptoCol {
  &.AptoCol--align-start {
    align-self: flex-start;
  }
  &.AptoCol--align-center {
    align-self: center;
  }
  &.AptoCol--align-end {
    align-self: flex-end;
  }
}