@import '../../scss/theme/variables.scss';

$inputPadding: 0.8rem 0;
$inputBorderColor: $gray-300;
$inputColor: $gray-800;
$inputPlaceholderColor: $gray-500;
$inputFocusBorderColor: $blue-500;
$inputErrorBorderColor: $orange-400;
$inputDisabledOpactiy: 0.5;

.ui.selection {
  &.dropdown {
    color: $inputColor;
    padding: $inputPadding !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $inputBorderColor;
    background-color: $white !important;
    &.selection {
      box-shadow: none !important;
    }
    &:hover,
    &:focus {
      border-bottom-color: $inputFocusBorderColor !important;
    }
    &[disabled] {
      opacity: $inputDisabledOpactiy !important;
      cursor: default;
    }
    .menu {
      border: 1px solid $inputBorderColor !important;
    }
    &.error {
      > .default.text {
        color: $inputPlaceholderColor !important;
      }
      > .text {
        color: $inputColor !important;
      }
      border-color: $inputErrorBorderColor !important;
    }
  }
  &.disabled {
    opacity: $inputDisabledOpactiy !important;
    cursor: default;
  }
}
