@import '../../scss/theme/variables.scss';

$selectPadding: 0.8rem 0;
$selectBorderColor: $gray-300;
$selectColor: $gray-800;
$selectPlaceholderColor: $gray-500;
$selectFocusBorderColor: $blue-500;
$selectErrorBorderColor: $orange-400;
$selectDisabledOpactiy: 0.5;

.ui.selection {
  &.dropdown {
    color: $selectColor;
    padding: $selectPadding !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid $selectBorderColor;
    background-color: $white !important;
    input.search {
      padding: $selectPadding !important;
    }
    &.selection {
      box-shadow: none !important;
    }
    &:hover,
    &:focus {
      border-bottom-color: $selectFocusBorderColor !important;
    }
    &[disabled] {
      opacity: $selectDisabledOpactiy !important;
      cursor: default;
    }
    .menu {
      border: 1px solid $selectBorderColor !important;
    }
    &.error {
      > .default.text {
        color: $selectPlaceholderColor !important;
      }
      > .text {
        color: $selectColor !important;
      }
      border-color: $selectErrorBorderColor !important;
    }
  }
  &.disabled {
    opacity: $selectDisabledOpactiy !important;
    cursor: default;
  }
}
