@import '../../scss/theme/variables.scss';

$card-bg: $white !default;
$card-border: none !default;
$card-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;
$card-font-family: $font-family-base !default;
$card-font-size: $font-size-base !default;
$card-font-weight: $font-weight-base !default;
$card-margin: $grid-gutter-width-half 0 !default;
$card-padding: 1.6rem !default;
$card-border-radius: 2px !default;

$card-content-padding: 1.3rem 1.6rem !default;

$card-header-padding: 1.3rem 1.6rem 0 1.6rem !default;
$card-header-bottom-padding: 1.3rem !default;
$card-header-color: $gray-600 !default;
$card-header-font-size: 1.2rem !default;
$card-header-font-weight: $font-weight-base !default;

$card-footer-padding: 0 1.6rem 1.3rem 1.6rem !default;
$card-footer-top-padding: 1.3rem !default;

.AptoCard {
  margin: $card-margin;
  background: $card-bg;
  border: $card-border;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  font-family: $card-font-family;
  font-weight: $card-font-weight;
  font-size: $card-font-size;
  padding: 0;
  display: block;
  position: relative;
}
