@import '../../scss/theme/variables.scss';

.AptoIcon {
  display: inline-block;
  fill: currentColor;
  line-height: 0;
  box-sizing: border-box;
  position: relative;
  width: 2rem;
  height: 2rem;
  &.AptoIcon--inline {
    vertical-align: middle;
  }
  &.AptoIcon--colorWhite {
    fill: $white;
  }
  &.AptoIcon--colorBlue {
    fill: $blue-500;
  }
  &.AptoIcon--colorOrange {
    fill: $orange-500;
  }
  &.AptoIcon--colorGray {
    fill: $gray-500;
  }
  &.AptoIcon--colorLightGray {
    fill: $gray-300;
  }
  &.AptoIcon--circle {
    border-radius: 50%;
    background-color: currentColor;
    border: 3px solid currentColor;
    fill: $white;
    &:after {
      content: '';
      display: table;
      padding-top: 100%;
    }
    &.AptoIcon--circleColorWhite {
      background-color: $white;
      border-color: $white;
      fill: $blue-500;
    }
    &.AptoIcon--circleColorBlue {
      background-color: $blue-500;
      border-color: $blue-500;
      fill: $white;
    }
    &.AptoIcon--circleColorOrange {
      background-color: $orange-500;
      border-color: $orange-500;
      fill: $white;
    }
    &.AptoIcon--circleColorGray {
      background-color: $gray-500;
      border-color: $gray-500;
      fill: $white;
    }
    &.AptoIcon--circleColorLightGray {
      background-color: $gray-300;
      border-color: $gray-300;
      fill: $white;
    }
  }
  &.AptoIcon--size1 {
    width: $font-size-base;
    height: $font-size-base;
    min-width: $font-size-base;
    &.AptoIcon--circle {
      border-width: 2px;
    }
  }
  &.AptoIcon--size2 {
    width: 1.8rem;
    height: 1.8rem;
    min-width: 1.8rem;
    &.AptoIcon--circle {
      border-width: 2px;
    }
  }
  &.AptoIcon--size3 {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    &.AptoIcon--circle {
      border-width: 3px;
    }
  }
  &.AptoIcon--size4 {
    width: 2.4rem;
    height: 2.4rem;
    min-width: 2.4rem;
    &.AptoIcon--circle {
      border-width: 4px;
    }
  }
  &.AptoIcon--size5 {
    width: 2.8rem;
    height: 2.8rem;
    min-width: 2.8rem;
    &.AptoIcon--circle {
      border-width: 5px;
    }
  }
  &.AptoIcon--size6 {
    width: 5rem;
    height: 5rem;
    min-width: 5rem;
    &.AptoIcon--circle {
      border-width: 7px;
    }
  }

  .AptoIcon-status {
    color: white;
    display: block;
    font-family: $font-family-sans-serif;
    font-size: 9px;
    font-weight: $font-weight-bold;
    position: absolute;
    top: -13px;
    left: -9px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px * 1.732 solid $black;
    line-height: 15px;
    text-indent: -1.25px;
  }

  &.AptoIcon--circle.AptoIcon--statusWarning,
  &.AptoIcon--circle.AptoIcon--statusDanger {
    &:before {
      border: 3px solid $black;
      border-radius: 50%;
      content: '';
      top: -5px;
      left: -5px;
      right: -5px;
      bottom: -5px;
      position: absolute;
    }
    &.AptoIcon--size6:before {
      top: -7px;
      left: -7px;
      right: -7px;
      bottom: -7px;
    }
  }

  &.AptoIcon--statusWarning {
    .AptoIcon-status {
      border-bottom-color: $orange-400;
    }
    &:before {
      border-color: $orange-400 !important;
    }
  }

  &.AptoIcon--statusDanger {
    .AptoIcon-status {
      border-bottom-color: $red-400;
    }
    &:before {
      border-color: $red-400 !important;
    }
  }
}
