@import '../../scss/theme/variables.scss';

$navbarBackground: $primary-blue;

.AptoNavbar {
  &.AptoNavbar--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  background-color: $navbarBackground;
  .AptoNavbar-content {
    display: flex;
    justify-content: flex-end;
  }
}