.AptoErrorPage {
  &.AptoRow {
    min-height: 100vh;
    text-align: center;
  }
  .AptoHeader {
    color: #555 !important;
    font-size: 3.25rem !important;
  }
  .AptoParagraph {
    margin: 0 auto !important;
    width: 280px !important;
  }
}
