.AptoSnackbar {
  left: 0;
  right: 0;
  z-index: 1400;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  &.AptoSnackbarAnchorOriginbottomleft {
    justify-content: flex-start;
    bottom: 0;
    right: auto;
  }

  &.AptoSnackbarAnchorOriginbottomright {
    justify-content: flex-end;
    bottom: 0;
    left: auto;
  }

  &.AptoSnackbarAnchorOriginbottomcenter {
    justify-content: center;
    bottom: 0;
  }

  &.AptoSnackbarAnchorOrigintopleft {
    justify-content: flex-start;
    top: 0;
    right: auto;
  }

  &.AptoSnackbarAnchorOrigintopright {
    justify-content: flex-end;
    top: 0;
    left: auto;
  }

  &.AptoSnackbarAnchorOrigintopcenter {
    justify-content: center;
    top: 0;
  }
}
