// Gray Family
$gray-800:      #212121 !default;
$gray-700:      #616161 !default;
$gray-650:      #808080 !default;
$gray-600:      #9E9E9E !default;
$gray-550:      #908e8e !default;
$gray-500:      #BDBDBD !default;
$gray-450:      #DEDEDE !default;
$gray-400:      #E0E0E0 !default;
$gray-300:      #EEEEEE !default;
$gray-200:      #F5F5F5 !default;
$gray-100:      #FAFAFA !default;

// Blue Family
$blue-800:      #063F6D !default;
$blue-700:      #0667B5 !default;
$blue-600:      #0087F4 !default;
$blue-500:      #64B5F6 !default;
$blue-400:      #BBDEFB !default;
$blue-300:      #EDF4FA !default;

// Orange Family
$orange-700:    #D48004 !default;
$orange-500:    #FF9800 !default;
$orange-400:    #F6A623 !default;
$orange-350:    #FAC68C !default;
$orange-300:    #FDDFB4 !default;
$orange-200:    #FFF2E3 !default;

// Red Family
$red-700:       #981818 !default;
$red-500:       #D32F2F !default;
$red-400:       #dc3545 !default;
$red-300:       #FEE9E9 !default;

// Green Family
$green-700:     #4CAF50 !default;
$green-500:     #61DC66 !default;
$green-300:     #E4F7E5 !default;

// Yellow Family
$yellow-700:    #B89D11 !default;
$yellow-600:    #DCBC13 !default;
$yellow-500:    #F9D100 !default;
$yellow-300:    #FFF9D4 !default;

// Purple Family
$purple-500:    #b175e8 !default;

// Named Colors
$black:         $gray-800 !default;
$white:         #fff !default;
$primary-blue:  $blue-500 !default;
$danger:        $red-700 !default;
$warning:       $orange-500 !default;
$success:       $green-700 !default;

$link:          $blue-500 !default;
$body-text:     $gray-700 !default;


// fonts
$font-family-sans-serif:      	"Open Sans", sans-serif !default;
$font-family-base:            	$font-family-sans-serif !default;

$font-size-xl:                  2.2rem !default; // 22px
$font-size-lg:               	  1.8rem !default; // 18px
$font-size-base:             	  1.4rem !default; // 14px
$font-size-md:                  1.2rem !default; // 12px
$font-size-sm:                	1.0rem !default; // 10px

$font-weight-light:           	400 !default;
$font-weight-normal:          	500 !default;
$font-weight-semibold:          600 !default;
$font-weight-bold:            	700 !default;

$font-weight-base:            	$font-weight-normal !default;
$line-height-base:            	1.5 !default;

$h1-font-size:                	$font-size-xl !default; // 22px
$h2-font-size:                	$font-size-lg !default; // 18px
$h3-font-size:                	$font-size-base !default; // 14px
$h4-font-size:                	$font-size-md !default; // 12px
$h5-font-size:                	$font-size-md !default; // 12px
$h6-font-size:                	$font-size-md !default; // 12px

$form-label-font-size:          $font-size-md !default; // 12px
$help-text-font-size:           $font-size-sm !default; // 10px

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;
$grid-columns:              12 !default;
$grid-gutter-width:         20px !default;
$grid-gutter-width-half:    $grid-gutter-width / 2 !default;
